h2 {
  color: #0077b6;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

.item {
  width: auto;
  height: auto;
  margin: 10px auto;
  border: 1px solid #eaeaea;
  padding: 10px;
}
